
body{
    background:orange; /*fondo*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; /* se utiliza para agregar negritas */
    font-style: oblique; /* indicica si el fondo esta en cursiva  recibe tres valores [italic, oblique]*/
    text-decoration: underline; /*indica si el texto tiene una línea que se ejecuta debajo, sobre o a través de él recibe tres valores [overline, line-through] */
    text-transform: capitalize;
}

#uno { /* id */
      background: black;
      font-size: 25px;
      color: white;
    /*font-size: 2em;*/
}
.dos {/* class*/
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background: coral;
    font-size: 29px;
}
h6, .pading{
    font-size: 30px;
    background-color: bisque;
    margin: 10px;
    padding: 30px;
    text-align: center;
    border-style: double;
    border-width: 15px;
    border-color: purple;
    border-radius: 10px;
    border-collapse: separate;
    }
