
body{
    background:#34495E; /*fondo*/
    font-weight: bold; /* se utiliza para agregar negritas */
    font-style: oblique; /* indicica si el fondo esta en cursiva  recibe tres valores [italic, oblique]*/
    /* text-decoration: underline; /*indica si el texto tiene una línea que se ejecuta debajo, sobre o a través de él recibe tres valores [overline, line-through] */
    text-transform: capitalize;
    color: ivory;
    margin: 0;
}
p{
    font-family: 'Noto Sans JP', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans JP', sans-serif;
}

#uno { /* id */
    background: black;
    font-size: 25px;
    color: white;
    /*font-size: 2em;*/
}
.dos {/* class*/
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(79, 175, 60);
    font-size: 29px;
    border: wheat solid;
}
h6, .pading{
    font-size: 30px;
    background-color: rgb(53, 102, 105);
    margin: 10px;
    padding: 30px;
    text-align: center;
    border-style: double;
    border-width: 15px;
    border-color: rgb(213, 245, 71);
    border-radius: 10px;
    border-collapse: separate;
    }

    .parrafo > p:first-line {
        color: rgb(61, 216, 131);
    }

    .field {
        color: rgb(61, 216, 131);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.2em;
    }
.contact-form__input{
    margin: 0.5%;
}
.contact-form__input--active{
    color: rgb(243, 116, 31);
    margin: 0.5%;
}

.unities{
    font-size: 2em;
}

.txt{
    font-size: 15px;
    font-family:sans-serif;
    /* line-height: 5; */
    background-color: rgb(87, 123, 177);
    font-weight: normal;   /* grosor de la letra */
    width: 50%;
    height: 30px;
}
/* ################################################################# POSISIONAMIENTO ################################################################# */

section.positionn > div{
    width: 100px;
    height: 100px;
    display: block;
    color: white;
}
.caja1{
    background: rgb(78, 175, 86);
    position: relative;
    top: 10px;
}
.caja2{
    background: rgb(72, 134, 163);
top: 800px;
}
.caja3{
    background: rgb(58, 161, 122);

}
.caja4{
    background: rgb(160, 32, 81);
    }
.caja5{
    background: rgb(26, 173, 179);
}
.dspl{
    margin: 0;
}