body{
    background: #34495E;

}
fieldset{
    border-color: rgb(106, 247, 160);
    border-width: 10px;
}
#titulo{
    color: rgb(255, 241, 51);
    font-size: 25px;
}

#txt{
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}