body{
	color: white;
}
h1{
    color: #82E0AA;
}

td {
			border: 1px solid rgb(79, 224, 188);
			padding: 0.1em 1em;
		}
ul, ol {
	color: #82E0AA;
	font-size: 24px;
}
li{
	color: rgba(79, 224, 188);
	font-size: 20px;
}

.joy{
	color:152, 245, 243;
}
.division{
	color: yellowgreen;
}
.link{
width: 100%;
height: 100%;
background-color: orange;
padding: 10px;
border: 5px pink groove;
}
